.clearfix{
    float:none;
    clear:both;
}
.container{
    width:960px;
    margin:0 auto;
}
header {
    display:block;
    background-color: #286af0;
}
header p {
    padding: 15px 0;
    margin: 0;
}
header b {
    font-size: 25px;
}
.asideHome{
    float:left; 
    width:20%;

}
.asideHome ul {
    
    padding-left:0;
    margin-right:10px;
}
    .asideHome li {
        margin-bottom: 5px;
        list-style: none;
        border: 1px solid red;
        padding: 10px;
    }

.asideHome a {
    
    text-decoration: none;
}
.sectionHome{
    background-color:#ccc;
    width:80%;
    float:right;
    min-height:550px;
}

.homeImage {
    margin-top: 40px;
}
.homeImage img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 280px;
}

.homeImage p {
    text-align:center;
    margin-top:5px;
}
footer {
    background-color: #286af0;
    text-align:center;
}
footer p{
    padding-top:5px;
    margin:0;
    height:40px;
}
footer u {
    color:white;
}

.titleCosmo{
    padding-left:10px;
}

.btnGroup{
    padding:10px;   
}
.btnGroup label{
    padding-right:10px;
}
.btnGroup input{
    padding:5px;
}

.btnJs {
    padding: 10px;
}
.btnJs input[type=button] {
    padding: 5px;
    background-color: #ff5a5a;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition:400ms all;
}

.btnJs input[type=button]:hover {
    background: #ffa5a5;
}

.listado{
    padding-left:10px;
}
.titleListado {
    padding-left: 10px;
}